%h1 Recipes
%br
%b= link_to 'Add a new recipe', new_recipe_path, class: "btn btn-primary"
%br
%br

%table.table
  %tr
    %th.col-sm-2 Name
    %th.col-sm-1 Owner
    %th.col-sm-8 Description
    %th.col-sm-1

  - recipes.each do |recipe|
    %tr
      %td= link_to recipe.name, recipe_path(recipe)
      %td= recipe.owner
      %td= recipe.desc
      %td
        =link_to 'Edit', edit_recipe_path(recipe)
        =link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }
