.products {
  .product-options {
    display: none;
  }
  .product {
    &:hover .product-options {
      display: inline-block;
    }
  }

  .serving-options {
    display: none;
  }
  .serving{
    &:hover .serving-options {
      display: inline-block;
    }
  }
}