.container
  .row
    .col-md-6
      %h1 Product List 

      %div.products-tabs
        %ul.nav.nav-tabs
          %li{ role: 'presentation', class: 'active' } 
            %a{ href: '#all-products', role: 'tab', 'data-toggle' => 'tab' } All
          %li{ role: 'presentation' } 
            %a{ href: '#fav-products', role: 'tab', 'data-toggle' => 'tab' } Favourite products
  
      %div.tab-content    
        %div{ id: 'all-products', class: 'tab-pane active', role: 'tabpanel' }
          = render 'all_products'
        %div{ id: 'fav-products', class: 'tab-pane', role: 'tabpanel' }
          = render 'favourite_products'


    .col-md-6
      - if user_signed_in?
        %h4 Do you want add some product?
        = link_to 'Add new product',  new_product_path, class: 'btn btn-primary'
